langchain-community
langchain-huggingface
langchain-classic
langchain-text-splitters
langchain-pinecone
pinecone-client
sentence-transformers
langchain-groq
pypdf
fastapi
uvicorn[standard]
python-dotenv
